otp_path: "<base>/otp"
deps_dirs:
  - "lib/*"
  - "system/test/lib/*"

diagnostics:
  enabled:
    - compiler
  disabled:
    - elvis
    - dialyzer
    - crossref
    - unused_includes

include_dirs:
  - "include"
  - "lib"
  - "system/test/lib/"

lenses:
  disabled:
    - ct-run-test
    - server-info
    - show-behaviour-usages
    - suggest-spec
    - function-references
